<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Osoba</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container">
        <h1>Detail osoby</h1>
        <form th:action="@{save}" action="#" method="post" th:object="${osoba}">
            <input type="hidden" id="id" name="id" th:value="*{id}"/>
            <div class="form-group">
                <label for="jmeno">Jméno</label>
                <input type="text" class="form-control" id="jmeno" name="jmeno" th:value="*{jmeno}"/>
            </div>
            <div class="form-group">
                <label for="prijmeni">Příjmení</label>
                <input type="text" class="form-control" id="prijmeni" name="prijmeni" th:value="*{prijmeni}"/>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" th:value="*{email}" class="form-control"/>
            </div>
            <input th:type="submit" value="Uložit" class="btn btn-success"/>
        </form>
    </div>
</body>
</html>